/**** Start WET-ASPHALT-COLOR Theme ****/

.menu .menu-section .search-bar input,
.menu .menu-section .search.active .search-exit i,
.menu .menu-section .search-bar input,
.menu .menu-section .search.active .search-exit i,
.menu .menu-section .shopping-cart .shopping-cart-header .shopping-cart-total .main-color-text,
.menu .menu-section .shopping-cart .shopping-cart-items .item-price,
.home-page-section-three .new-releases .parts .book-part .book-cart .divy .book-price .price-number-after,
.home-page-section-three .new-releases .book-cart-btn .new-releases-view-all-btn,
.home-page-section-four .bestsellers .parts .book-part .book-cart .divy .book-price .price-number-after,
.home-page-section-five .discover .parts .book-part .book-cart .divy .book-price .price-number-after,
.home-page-section-five .discover .book-cart-btn .discover-view-all-btn,
.home-page-section-six .comingsoon .parts .book-part .book-cart .divy .book-price .price-number-after,
.home-page-section-seven .ournews .book-cart-btn .ournews-view-all-btn,
.author-profile-page-content .author-profile-content-details .author-profile-body .author-details p a,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-grid-content .blog-posts .blog-post-card .read-more a,
.blog-list-content .blog-posts .blog-post-card .read-more a,
.blog-post-content .persons-comments .comments-btn,
.book-content .book-content-body .book-details .book-tags .price-number-after,
.book-content .book-content-body .book-details .nav-tabs li a,
.book-content .book-content-body .book-details .tab-content .tab-pane-about-this-books a.more,
.book-content .book-content-body .book-details .tab-content .tab-pane-softcover-details dl dd .price-number-after,
.book-content .book-content-body .book-details .tab-content .tab-pane-softcover-details .softcover-details-btn .softcover-book-btn,
.book-content .book-content-body .book-details .tab-content .tab-pane-ebook-details dl dd .price-number-after,
.book-content .book-content-body .book-details .tab-content .tab-pane-ebook-details .ebook-details-btn .ebook-book-btn,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .person-comment .comment-body .book-rating i,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .book-rating i,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .book-reviews-btn,
.bookspage-content .bookspage-body .books-list .book-part .book-cart .divy .book-price .price-number-after,
.careers-information-content .panel-group .panel-default .panel-body p a,
.cart-empty-content .add-prdouct,
.cart-empty-content .cart-empty a,
.cart-page-content .shopping-cart-page .product .product-line-price,
.cart-page-content .shopping-cart-page .totals .totals-item .totals-value,
.cart-page-content .shopping-cart-page .cart-page-checkout-btn,
.checkout-complete-content .order-received i,
.checkout-complete-content .order-received p,
.checkout-complete-content .shopping-cart-page .product .product-line-price,
.checkout-complete-content .shopping-cart-page .totals .totals-item .totals-value,
.checkout-complete-content .customer-details-content .customer-details p a,
.checkout-page-content .user-details.first-form .have-account a,
.checkout-page-content .your-order .product .product-line-price,
.checkout-page-content .your-order .product .checkout,
.checkout-page-content .your-order .totals .totals-item .totals-value,
.checkout-page-content .payment-method-content .payment-methods .payment-method .paypal-info a,
.checkout-page-content .payment-method-content .payment-methods .order-confirmation a,
.login-page-content .customer-register .submit-btn,
.customer-addresses-page-content .customer-addresses .customer-billing-addresses .profile-options .edit-button,
.customer-addresses-page-content .customer-addresses .customer-shipping-addresses .profile-options .edit-button,
.customer-dashboard-page-content .customer-dashboard .customer-details p a,
.customer-dashboard-page-content .customer-dashboard .profile-options a,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .submit-btn,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .cancel-btn,
.order-history-page-content .ordering-information .product .product-price,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .product-line-price,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .add-cart-btn,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .product-wishlist-remove-btn,
.store-pages-page-content .panel-group .panel-default .store-pages-sections .careers-title li a,
.copyright span,
.final-right span a
{
  color: #34495e;
}

.menu .menu-section .shopping-cart .shopping-buttons a:hover,
.home-page-section-four .bestsellers .book-cart-btn .bestsellers-view-all-btn:hover,
.home-page-section-six .comingsoon .book-cart-btn .comingsoon-view-all-btn:hover,
.home-page-section-eight .home-page-authors .book-cart-btn .home-page-authors-btn:hover,
.author-profile-page-content .author-profile-content-details .author-profile-body .author-name a:hover,
.authors-page-content .all-authors .author-info:hover h3 .auth-name,
.authors-page-content .all-authors .author-info h3 .auth-name:hover,
.authors-page-content .page-number li a:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-writer a:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-title a:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-comments a:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-share a:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:hover,
.blog-grid-content .page-number li a:hover,
.blog-grid-content .sidebar-menu .blog-search .search-btn:hover,
.blog-grid-content .sidebar-menu .blog-categories .blog-categories-submenu li a:hover,
.blog-grid-content .sidebar-menu .recent-posts .recent-post .recent-post-title:hover,
.blog-grid-content .sidebar-menu .recent-posts .recent-post span a:hover,
.blog-grid-content .sidebar-menu .blog-archives .blog-archives-submenu li a:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-writer a:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-title a:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-comments a:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-share a:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:hover,
.blog-list-content .page-number li a:hover,
.blog-list-content .sidebar-menu .blog-search .search-btn:hover,
.blog-list-content .sidebar-menu .blog-categories .blog-categories-submenu li a:hover,
.blog-list-content .sidebar-menu .recent-posts .recent-post .recent-post-title:hover,
.blog-list-content .sidebar-menu .recent-posts .recent-post span a:hover,
.blog-list-content .sidebar-menu .blog-archives .blog-archives-submenu li a:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-writer a:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-title a:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-comments a:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-share a:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:hover,
.blog-post-content .sidebar-menu .blog-search .search-btn:hover,
.blog-post-content .sidebar-menu .blog-categories .blog-categories-submenu li a:hover,
.blog-post-content .sidebar-menu .recent-posts .recent-post .recent-post-title:hover,
.blog-post-content .sidebar-menu .recent-posts .recent-post span a:hover,
.blog-post-content .sidebar-menu .blog-archives .blog-archives-submenu li a:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-writer a:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-info .comment-time:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-info .reply-button:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-reply .comment-reply-body .comment-reply-writer a:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-reply .comment-reply-body .comment-reply-info .comment-reply-time:hover,
.blog-post-content .persons-comments .person-comment .comment-body .comment-reply .comment-reply-body .comment-reply-info .reply-button:hover,
.book-content .book-content-body .book-details .social-media a:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .person-comment .comment-body .comment-writer a:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .person-comment .comment-body .comment-info .comment-time:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .person-comment .comment-body .comment-info .reply-button:hover,
.bookspage-content .bookspage-body .page-number li a:hover,
.cart-page-content .shopping-cart-page .product .product-removal a:hover,
.customer-addresses-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:hover,
.customer-addresses-page-content .customer-addresses .customer-billing-addresses .profile-options .edit-button:hover,
.customer-addresses-page-content .customer-addresses .customer-shipping-addresses .profile-options .edit-button:hover,
.customer-dashboard-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:hover,
.customer-dashboard-page-content .customer-dashboard .customer-name a:hover,
.customer-dashboard-page-content .customer-dashboard .customer-details p a:hover,
.customer-dashboard-page-content .customer-dashboard .profile-options a:hover,
.customer-edit-profile-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:hover,
.featured-authors-page-content .featured-authors .author-info h3 .auth-name:hover,
.order-history-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:hover,
.product-wishlist-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:hover,
.featured-authors-page-content .featured-authors .author-info:hover h3 .auth-name,
.final-right span a:hover
{
  color: #34495e;
}

.home-page-section-four .bestsellers .book-cart-btn .bestsellers-view-all-btn:focus,
.home-page-section-six .comingsoon .book-cart-btn .comingsoon-view-all-btn:focus,
.home-page-section-eight .home-page-authors .book-cart-btn .home-page-authors-btn:focus,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:focus,
.blog-grid-content .sidebar-menu .blog-search .search-btn:focus,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:focus,
.blog-list-content .sidebar-menu .blog-search .search-btn:focus,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .social-media a:focus,
.blog-post-content .sidebar-menu .blog-search .search-btn:focus,
.blog-post-content .persons-comments .person-comment .comment-body .comment-info .comment-time:focus,
.blog-post-content .persons-comments .person-comment .comment-body .comment-reply .comment-reply-body .comment-reply-info .comment-reply-time:focus,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .person-comment .comment-body .comment-info .comment-time:focus,
.customer-addresses-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:focus,
.customer-addresses-page-content .customer-addresses .customer-billing-addresses .profile-options .edit-button:focus,
.customer-addresses-page-content .customer-addresses .customer-shipping-addresses .profile-options .edit-button:focus,
.customer-dashboard-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:focus,
.customer-dashboard-page-content .customer-dashboard .customer-name a:focus,
.customer-dashboard-page-content .customer-dashboard .customer-details p a:focus,
.customer-dashboard-page-content .customer-dashboard .profile-options a:focus,
.customer-edit-profile-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:focus,
.order-history-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a:focus,
.final-right span a:focus
{
  color: #34495e;
}

.blog-list-content .page-number li a.active,
.bookspage-content .bookspage-body .page-number li a.active,
.customer-addresses-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a.active,
.customer-dashboard-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a.active,
.customer-edit-profile-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a.active,
.order-history-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a.active,
.product-wishlist-page-content .my-profile .panel-default .my-profile-items .list-group .list-group-item a.active,
.authors-page-content .page-number li a.active,
.blog-grid-content .page-number li a.active,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .social-media a.active,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .social-media a.active,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .social-media a.active
{
  color: #34495e;
}

.menu .menu-section .shopping-icon ul li #cart .badge,
.menu .menu-section .shopping-cart .shopping-cart-header .badge,
.menu .menu-section .shopping-cart .shopping-buttons .home-page-view-cart-btn,
.menu .menu-section .shopping-cart .shopping-buttons .home-page-checkout-btn,
.option-box .gear-check,
.home-page-section-four,
.home-page-section-six ,
.home-page-section-eight,
.blog-grid-content .sidebar-menu .blog-categories .subheading span,
.blog-list-content .sidebar-menu .blog-categories .subheading span,
.blog-post-content .sidebar-menu .blog-categories .subheading span,
.blog-grid-content .sidebar-menu .recent-posts .subheading span,
.blog-list-content .sidebar-menu .recent-posts .subheading span,
.blog-post-content .sidebar-menu .recent-posts .subheading span,
.blog-grid-content .sidebar-menu .blog-archives .subheading span,
.blog-list-content .sidebar-menu .blog-archives .subheading span,
.blog-post-content .sidebar-menu .blog-archives .subheading span,
.blog-post-content .persons-comments .subheading span,
.blog-post-content .post-comment .subheading span,
.book-content .book-content-body .book-details .post-review .subheading span,
.checkout-page-content .shiptwo-address .another-content span,
.checkout-page-content .your-order-content .subheading span,
.checkout-page-content .payment-method-content .subheading span,
.checkout-page-content .payment-method-content .payment-methods .payment-method label:after,
.checkout-complete-content .order-details .subheading span,
.checkout-complete-content .bank-details-content .subheading span,
.checkout-complete-content .customer-details-content .subheading span,
.checkout-complete-content .billing-address-content .subheading span,
.login-page-content .customer-signin .subheading span,
.login-page-content .customer-signin .user-details .signin-button a,
.login-page-content .customer-register .subheading span,
.customer-addresses-page-content .my-profile .panel-default .panel-heading,
.customer-addresses-page-content .customer-addresses .customer-billing-addresses .subheading span,
.customer-addresses-page-content .customer-addresses .customer-shipping-addresses .subheading span,
.featured-authors-names,
.authors-names
{
  background: #34495e;
}

.home-page-section-three .new-releases .parts .book-part .book-cart .icons a i:hover,
.home-page-section-three .new-releases .book-cart-btn .new-releases-view-all-btn:hover,
.home-page-section-four .bestsellers .parts .book-part .book-cart .icons a i:hover,
.home-page-section-five .discover .parts .book-part .book-cart .icons a i:hover,
.home-page-section-five .discover .book-cart-btn .discover-view-all-btn:hover,
.home-page-section-six .comingsoon .parts .book-part .book-cart .icons a i:hover,
.home-page-section-seven .ournews .book-cart-btn .ournews-view-all-btn:hover,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover,
.blog-post-content .persons-comments .comments-btn:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-softcover-details .softcover-details-btn .softcover-book-btn:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-ebook-details .ebook-details-btn .ebook-book-btn:hover,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .book-reviews-btn:hover,
.bookspage-content .bookspage-body .books-list .book-part .book-cart .icons a i:hover,
.cart-empty-content .cart-empty a:hover,
.cart-page-content .shopping-cart-page .cart-page-checkout-btn:hover,
.categories-page-content .category-part .category-cart:hover .category-divy,
.checkout-page-content .your-order .product .checkout:hover,
.checkout-page-content .payment-method-content .payment-methods .order-confirmation a:hover,
.login-page-content .customer-signin .user-details .signin-button a:hover,
.login-page-content .customer-register .submit-btn:hover,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .submit-btn:hover,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .cancel-btn:hover,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .add-cart-btn:hover,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .product-wishlist-remove-btn:hover
{
  background: #34495e;
}

.home-page-section-three .new-releases .book-cart-btn .new-releases-view-all-btn:focus,
.home-page-section-five .discover .book-cart-btn .discover-view-all-btn:focus,
.home-page-section-seven .ournews .book-cart-btn .ournews-view-all-btn:focus,
.blog-post-content .persons-comments .comments-btn:focus,
.book-content .book-content-body .book-details .tab-content .tab-pane-softcover-details .softcover-details-btn .softcover-book-btn:focus,
.book-content .book-content-body .book-details .tab-content .tab-pane-ebook-details .ebook-details-btn .ebook-book-btn:focus,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .book-reviews-btn:focus ,
.cart-empty-content .cart-empty a:focus,
.checkout-page-content .payment-method-content .payment-methods .order-confirmation a:focus,
.login-page-content .customer-signin .user-details .signin-button a:focus,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .submit-btn:focus,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .cancel-btn:focus,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .add-cart-btn:focus,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .product-wishlist-remove-btn:focus
{
  background: #34495e;
}

.blog-grid-content .sidebar-menu .blog-search input:focus,
.blog-list-content .sidebar-menu .blog-search input:focus,
.blog-post-content .sidebar-menu .blog-search input:focus,
.blog-post-content .post-comment .user-details form .form-group .form-control:focus,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .form-group .form-control:focus,
.checkout-page-content .user-details.first-form .form-control:focus,
.checkout-page-content .shiptwo-address .another-form .form-control:focus,
.checkout-page-content .shiptwo-address .user-details textarea.form-control:focus,
.checkout-page-content .your-order .product .form-control:focus,
.login-page-content .customer-signin .user-details .form-group .form-control:focus,
.login-page-content .user-details form .form-group .form-control:focus,
.customer-edit-profile-page-content .user-details .form-control:focus
{
  border-color: #34495e;
}

.menu .menu-section .search-bar,
.menu .menu-section .shopping-cart .shopping-buttons .home-page-view-cart-btn,
.menu .menu-section .shopping-cart .shopping-buttons .home-page-checkout-btn,
.menu .menu-section .shopping-cart .shopping-buttons a:hover,
.home-page-section-three .new-releases .book-cart-btn .new-releases-view-all-btn,
.home-page-section-five .discover .book-cart-btn .discover-view-all-btn,
.home-page-section-seven .ournews .book-cart-btn .ournews-view-all-btn,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li a,
.blog-grid-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover a,
.blog-list-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover a,
.blog-post-content .blog-posts .blog-post-card .post-body .post-panel .post-tags li:hover a,
.blog-post-content .persons-comments .comments-btn,
.book-content .book-content-body .book-details .tab-content .tab-pane-softcover-details .softcover-details-btn .softcover-book-btn,
.book-content .book-content-body .book-details .tab-content .tab-pane-ebook-details .ebook-details-btn .ebook-book-btn,
.book-content .book-content-body .book-details .tab-content .tab-pane-reviews .post-review .user-details form .book-reviews-btn,
.cart-empty-content .cart-empty a,
.cart-page-content .shopping-cart-page .product .product-quantity input,
.cart-page-content .shopping-cart-page .cart-page-checkout-btn,
.checkout-complete-content .order-received,
.checkout-page-content .shiptwo-address .another-content label,
.checkout-page-content .your-order .product .checkout,
.checkout-page-content .payment-method-content .payment-methods .payment-method label,
.checkout-page-content .payment-method-content .payment-methods .order-confirmation a,
.login-page-content .customer-signin .user-details .remember-me label,
.login-page-content .customer-signin .user-details .signin-button a,
.login-page-content .customer-register .subheading.another-content label,
.login-page-content .customer-register .submit-btn,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .submit-btn,
.customer-edit-profile-page-content .user-details .edit-profile-buttons .cancel-btn,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .add-cart-btn,
.product-wishlist-page-content .product-wishlist .shopping-cart-page .product .wishlist-buttons .product-wishlist-remove-btn
{
  border: 1px solid #34495e;
}

.authors-page-content .page-number li a.active,
.authors-page-content .page-number li a:hover,
.blog-grid-content .page-number li a.active,
.blog-grid-content .page-number li a:hover,
.blog-list-content .page-number li a.active,
.blog-list-content .page-number li a:hover,
.bookspage-content .bookspage-body .page-number li a:hover,
.bookspage-content .bookspage-body .page-number li a.active,
.careers-information-content .panel-group .panel-default .panel-body p a,
.checkout-complete-content .order-details .checkout-order-details .order-details-parts h4,
.checkout-complete-content .bank-details-content .bank-details .bank-details-parts h4
{
  border-bottom: 1px solid #34495e;
}

.authors-page-content .page-number li a.active,
.authors-page-content .page-number li a:hover,
.blog-grid-content .page-number li a.active,
.blog-grid-content .page-number li a:hover,
.blog-list-content .page-number li a.active,
.blog-list-content .page-number li a:hover,
.bookspage-content .bookspage-body .page-number li a:hover,
.bookspage-content .bookspage-body .page-number li a.active,
.careers-information-content .panel-group .panel-default .panel-body p a
{
  border-top: 1px solid #34495e;
}

.checkout-page-content .shiptwo-address .another-content label .true,
.login-page-content .customer-register .subheading.another-content label .true,
.login-page-content .customer-signin .user-details .remember-me label .true
{
  border-bottom: 3px solid #34495e;
  border-left: 3px solid #34495e;
}
/**** END WET-ASPHALT-COLOR Theme ****/